/* .jodit-status-bar-link{
    display: none;
} */
/* html{
    overflow-y: hidden;
} */


/* body{
    background-color: rgb(13 17 23);
    opacity: 10;
}
.peer{
    color: white;
}
.placeholder-shown{
    color: white;
} */
.css-19kzrtu{

    width: 600px;
}